<link rel="stylesheet" href="/static/pps.css">

{% extends 'home/home_for_users.html' %}


{% include 'shared/site_navigation.html' %}


{% block site_content %}
    <body>
            <article class="header-wrapper pps-header">
                <h1>PROGRESS PICTURES</h1>
            </article>

                {% if not progress_picture_user %}
                    <article class="header-wrapper">
                        <h1>NO PROGRESS PICTURE TO SHOW</h1>
                        <a href="{%  url 'create_progress_pictures' %}" class="create-wo-btn">Create progress picture</a>
                    </article>
                {% endif %}

<main class="main">
    {% for pic in progress_picture_user %}
            <section class="pp-wrapper">
                <h4>Date: {{ pic.date }}</h4>
                <article class="pic-wrapper">
                    <img src="{{ pic.progress_picture.url }}" width="500" height="600" alt="">
                </article>
                <p>Comment:</p>
                <article class="textarea-wrapper">
                    <textarea readonly class="textarea-pps">
                        {{ pic.comment }}
                    </textarea>
                </article>
                <article class="buttons-wrapper">
                    <a href="{%  url 'create_progress_pictures' %}" class="create-wo-btn">Create progress picture</a>
                    <a href="{% url 'delete_progress_picture' pic.id %}" class="create-wo-btn delete">Delete picture</a>
                </article>
            </section>
    {% endfor %}
</main>

{% endblock %}

</body>
