{% extends 'home/home_for_users.html' %}


{% include 'shared/site_navigation.html' %}


{% block site_content %}

    <body>
    <center>
        <div style="color: #996633">
            <h1>PROGRESS PICTURES</h1>
        </div>
    </center>
    {% if not progress_picture_user %}
        <center>
            <div style="color: #996633">
                <h1>NO PROGRESS PICTURE TO SHOW</h1>
                 <a href="{%  url 'create_progress_pictures' %}" class="btn btn-success">Create progress picture</a>
            </div>
        </center>
    {% endif %}

    {% for pic in progress_picture_user %}
        <div class="items-container">
            <div class="item">
                <h4>Date: {{ pic.date }}</h4>
                <img src="{{ pic.progress_picture.url }}" width="500" height="600" alt="">
                <h4>Comment: {{ pic.comment }}</h4>
                <a href="{% url 'delete_progress_picture' pic.id %}" class="btn btn-danger">Delete picture</a>

            </div>
        </div>
        <center>
             <a href="{%  url 'create_progress_pictures' %}" class="btn btn-success">Create progress picture</a>
         </center>
    {% endfor %}


{% endblock %}

</body>
