.form-wrapper-cpp{
    display: flex;
    justify-content: center;
    background: #F0F8FF;

}
.form-cpp{
    background: #B0E0E6;
    border: 1px solid #996633;
    border-radius: 4px;
    padding: 16px;
    width: min-content;
}
.pp-icon{
    width: 120px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.pp-icon img{
    width: 100%;
}
.pp_header_fixer{
    margin-bottom: -15px !important;
}