html{
    background: #F0F8FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body {
    font-family: 'cursive', "Berlin Sans FB";
    margin: 0;
    padding: 0;
    color: #996633;
}