header{
    background-color: #B0E0E6;
}
.ul-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.li-nav{
    margin-left: 5px;
    margin-right: 5px;
    list-style: none;
    text-underline: none;

}
.li-nav a{
    text-underline: none;
    color: #996633;
}
