
header{
    background-color: #B0E0E6;
}
.nav{
    padding-top: 5px;
    padding-bottom: 5px;
}

.ul-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #B0E0E6;
}
.li-nav{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    text-underline: none;

}
.li-nav a{
    text-decoration: none;
    color: #996633;
}

.nav-li-va:hover{
    border-bottom: 4px double #996633;
}
body{
    background: #FFFAFA;
}
