body {
    background: #F0F8FF;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

div.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    color: 		#996633;
}

div.item {
    width: 50%;
    background: #B0E0E6;
    margin:5px;
    padding: 30px;
    border-radius: 10px;

}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

form input,
textarea {
    padding: 7px;
    border: 2px solid #f1f1e8;
    border-radius: 2px;
    width: 90%;
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.list-horizontal .list-item {
    display: inline-block;
}