

{% extends 'workouts.html' %}

<body>
{% block site_content %}
     <div class="container">
     <center>
        <div style="color: #996633">
            <h1>Delete this workout?</h1>
        </div>
     </center>
         <ul class="list-horizontal list-item">
            <div class="items-container">
                <div class="item">
                    <form method="post">
                        <input type="submit" class="btn btn-danger" value="Delete">
                        {% csrf_token %}
                    </form>
                </div>
            </div>
         </ul>
     </div>
{% endblock %}
</body>
