<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout tracker</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/static/home_register.css">
    <link rel="stylesheet" href="/static/general.css">

</head>

<body>

{% include 'shared/register_login_navigation.html' %}

<section class="register-section">
    <article class="register-header">
        <h4>REGISTER</h4>
    </article>

    <section class="form-section">
        <article class="reg-icon-wrapper">
            <img src="https://cdn1.iconfinder.com/data/icons/common-ui/48/key_register_login_signin_enter-512.png" alt="error">
        </article>
        <form method="post" action="{% url 'register_user' %}" enctype="multipart/form-data">
            {{form}}
            {% csrf_token %}
                <article class="button-wrapper">
                    <button type="submit" class="button">Register</button>
                </article>
            </form>
    </section>

</section>


</body>
</html>




