<link rel="stylesheet" href="/static/workouts.css">
{#<link rel="stylesheet" href="/static/Public_part.css">#}

{% extends 'home/home_for_users.html' %}

{% include 'shared/site_navigation.html' %}

<body>
{% block site_content %}
    <article class="header-wrapper">
        <h1>WORKOUTS</h1>
    </article>


        {% if not workouts_user %}
            <article class="header-wrapper">
                <h1>NO WORKOUTS TO SHOW</h1>
                <a href="{%  url 'create_workout' %}" class="create-wo-btn">Create workout</a>
             </article>
        {% endif %}

    <main class="main">
        {% for work in workouts_user %}

            <section class="workout-wrapper">
                <section class="workout-card">
                        <h2>{{ work.date }}</h2>
                        <p>Tittle:{{ work.tittle }}</p>
                        <p>First exercise: {{ work.first_exercise }}</p>
                        <p>Second exercise: {{ work.second_exercise }}</p>
                        <p>Third exercise: {{ work.third_exercise }}</p>
                        <p>Fourth exercise: {{ work.fourth_exercise }}</p>
                        <p>Fifth exercise: {{ work.fifth_exercise }}</p>
                </section>
                <section class="buttons-wrapper">
                        <a href="{% url 'edit_workout' work.id %}" class="create-wo-btn edit">Edit workout</a>
                        <a href="{% url 'details_workout' work.id %}" class="create-wo-btn details">Workout details</a>
                        <a href="{% url 'delete_workout' work.id %}" class="create-wo-btn delete">Delete workout</a>
                        <a href="{%  url 'create_workout' %}" class="create-wo-btn">Create workout</a>
                </section>
            </section>

        {% endfor %}
    </main>
 {% endblock %}
</body>
