{% extends 'home/home_for_users.html' %}

{% include 'shared/site_navigation.html' %}

<body>
{% block site_content %}
    <div class="container">
        <center>
            <div style="color: #996633">
                <h1>WORKOUTS</h1>
            </div>
       </center>
        {% if not workouts_user %}
            <center>
            <div style="color: #996633">
                <h1>NO WORKOUTS TO SHOW</h1>
            </div>
                <a href="{%  url 'create_workout' %}" class="btn btn-success">Create workout</a>
            </center>
        {% endif %}



    <ul class="list-horizontal list-item">


        {% for work in workouts_user %}

                <div class="items-container">
                    <div class="item">


                        <h2>Tittle: <i class="bi bi-x-diamond-fill"> </i>{{ work.tittle }}</h2>
                        <p>Date: {{ work.date }}</p>
                        <p>First exercise: {{ work.first_exercise }}</p>
                        <p>Second exercise: {{ work.second_exercise }}</p>
                        <p>Third exercise: {{ work.third_exercise }}</p>
                        <p>Fourth exercise: {{ work.fourth_exercise }}</p>
                        <p>Fifth exercise: {{ work.fifth_exercise }}</p>
                        <p>Workout notes: {{ work.notes }}</p>

                        <a href="{% url 'edit_workout' work.id %}" class="btn btn-secondary">Edit workout</a>
                        <a href="{% url 'delete_workout' work.id %}" class="btn btn-danger">Delete workout</a>
                        <a href="{% url 'details_workout' work.id %}" class="btn btn-warning">Workout details</a>

                    </div>
                </div>
                 <center>
                     <a href="{%  url 'create_workout' %}" class="btn btn-success">Create workout</a>
                 </center>

        {% endfor %}


</ul>
    </div>

 {% endblock %}
</body>
